@use '../abstracts/' as *;

.banner {
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 1px inset #FFF;
  background-color: $color-light;

  @include sm {
    margin: 1px;
  }
}

.banner-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  user-select: none;
}

.banner-text {
  padding: 5px;
  margin: auto;
  font-weight: 700;
  user-select: none;
  mix-blend-mode: exclusion;
  font-size: 0.75rem;
}