@use '../abstracts/' as *;

.contact-container {
  width: 100%;
}

.contact p {
  @include paragraph-formatting;
}

ul {
  list-style-type: circle;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

li img {
  width: 2ch;
}
