@use '../abstracts/' as *;

.carousel-container {
  text-align: center;
  margin: auto;
}

.carousel-root {
  width: 75%;

  @include sm {
    width: 100%;
  }
}

.image-label {
  text-align: center;
  font-weight: 100;
  color: $color-tertiary;
  user-select: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: small;
}