@use '../abstracts/' as *;

.project-container {
  display: flex;
  flex-direction: column;
  border: 1.25px solid $color-primary;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 4px 4px $color-secondary;

  @include sm {
    margin-top: 12px;
  }
}

.project-details {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1.25px solid $color-primary;

  @include sm {
    padding: 2px;
  }
}

.project-title {
  color: $color-primary;
  font-size: 3ch;
  user-select: none;

  @include sm {
    font-size: 1.5ch;
  }
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;

  @include sm {
    margin: 7.5px;
  }
}

.project-image {
  width: 64px;
  height: 64px;
  margin-right: 5px;
  user-select: none;

  @include sm {
    width: 32px;
    height: 32px;
  }
}

.project-info p {
  @include paragraph-formatting;
  padding: 0 20px;
}

.project-link {
  text-align: center;
  margin-top: 5px;
}

.project-expand {
  margin-left: auto;
  font-size: 3.5ch;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: $color-dark;
  color: $color-primary;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.collapse-css-transition {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

