@use '../abstracts/' as *;

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.app::-webkit-scrollbar {
  display: none;
}

.app-container {
  width: 40vw;
  margin: auto auto;
}

.app-container {
  width: 70%;
}
