@import '../index.scss';

.horizontal-bar {
  color: $color-tertiary;
}

.about-carousel-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.about p {
  margin-top: 7px;
  text-align: justify;
}
