@use '../abstracts/' as a;

.horizontal-bar {
  color: a.$color-tertiary;
}

.about-carousel-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.about p {
  @include a.paragraph-formatting;
}
