@use '../abstracts/' as *;

.horizontal-bar {
  color: $color-tertiary;
}

.about-carousel-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.about p {
  @include paragraph-formatting;
}

.about-expand {
  border: none;
  background-color: $color-dark;
  cursor: pointer;
  margin: auto;
}

.about-expand p {
  font-family: 'IBM Plex Mono', monospace;
  color: $color-primary;
}

.collapse-css-transition {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
