@use './abstracts/' as a;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

* {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

// Global rules

hr {
  color: a.$color-tertiary;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: a.$color-light;
}

h1, h2 {
  user-select: none;
}

a {
  color: a.$color-primary;
  text-decoration: none;
}

a:hover {
  color: a.$color-secondary;
  transition: 0.3s;
}

html {
  background-color: a.$color-dark;
}
