@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

* {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

// Color palette
$color-primary: #EE6C4D;
$color-secondary: #F38D68;
$color-tertiary: #AEFFD8;
$color-dark: #020202;
$color-light: #EFF0D1;

hr {
  color: $color-tertiary;
}

h1, h2, h3, h4, h5, h6, p {
  color: $color-light;
}

h1, h2 {
  user-select: none;
}

a {
  color: $color-primary;
  text-decoration: none;
}