@use './abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 20px;
}

// Global rules

hr {
  color: $color-tertiary;
  background-color: $color-tertiary;
  height: 1px;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: $color-light;
}

h1,
h2 {
  user-select: none;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: $color-primary;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;

  &:hover {
    text-decoration: underline dotted $color-secondary;
    transition: 0.3s;
  }
}

html {
  background-color: $color-dark;
}
