.nav-container {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2ch;
  white-space: nowrap;
  margin-bottom: 5px;
}
